<div class="col-container" style="padding: 20px">
  <h1>Welcome to DND Roller!</h1>

  <div class="row-container" style="padding: 20px">
    <h2 style="padding-right: 10px">Choose type:</h2>
    <div *ngFor="let type of types; let i = index" style="padding-right: 10px">
      <button
        mat-raised-button
        [color]="selected.type === i ? 'accent' : ''"
        (click)="updateType(i)"
      >
        {{ type.name }}
      </button>
    </div>
    <button mat-icon-button color="primary" (click)="updateTypes()">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
  <div class="row-container" style="padding: 20px">
    <h2>Choose die:</h2>
    <div *ngFor="let die of dies; let i = index" style="padding-left: 10px">
      <button
        mat-raised-button
        [color]="selected.die === i ? 'accent' : ''"
        (click)="updateDie(i)"
      >
        {{ die.name }}
      </button>
    </div>
  </div>
  <div class="row-container" style="padding: 20px">
    <h2>Advantage:</h2>
    <mat-checkbox
      color="accent"
      class="border"
      [checked]="selected.advantage"
      (change)="selected.advantage = !selected.advantage; rolled = 0"
    ></mat-checkbox>
  </div>

  <div class="col-container">
    <button mat-raised-button color="warn" (click)="roll()">Roll</button>

    <h2
      *ngIf="rolled !== 0 && this.selected.advantage"
      style="padding-top: 20px"
    >
      {{
        "Rolled: (" +
          rolled +
          " vs " +
          advantage +
          ") + " +
          types[selected.type].value +
          " = " +
          (math.max(rolled, advantage) + types[selected.type].value)
      }}
    </h2>

    <h2
      *ngIf="rolled !== 0 && !this.selected.advantage"
      style="padding-top: 20px"
    >
      {{
        "Rolled: " +
          rolled +
          " + " +
          types[selected.type].value +
          " = " +
          (rolled + types[selected.type].value)
      }}
    </h2>
  </div>
</div>
