.col-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.row-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}