.row-center {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.left {
  text-align: left;
  float: left;
  clear: none;
  width: 50%;
}

.right {
  text-align: right;
  float: right;
  clear: none;
  width: 50%;
}

p {
  margin: 0;
}

.accent-color {
  color: red;
}
